@page
@model radlab3._0.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book.ID" />
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Summary" class="control-label"></label>
                <input asp-for="Book.Summary" class="form-control" />
                <span asp-validation-for="Book.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Publication" class="control-label"></label>
                <input asp-for="Book.Publication" class="form-control" />
                <span asp-validation-for="Book.Publication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.AuthorID" class="control-label"></label>
                <input asp-for="Book.AuthorID" class="form-control" />
                <span asp-validation-for="Book.AuthorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublisherID" class="control-label"></label>
                <input asp-for="Book.PublisherID" class="form-control" />
                <span asp-validation-for="Book.PublisherID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.DateOfPublication" class="control-label"></label>
                <input asp-for="Book.DateOfPublication" class="form-control" />
                <span asp-validation-for="Book.DateOfPublication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.CoverPageUrl" class="control-label"></label>
                <input asp-for="Book.CoverPageUrl" class="form-control" />
                <span asp-validation-for="Book.CoverPageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

